.noscroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.noscroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.TextSI
{
  margin-top: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 100px;
  line-height: 110px;
  text-align: center;
  color: #444444;
}
