.ShoppingPage {
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.bodySP {
  height: 102vh;
  overflow-y: scroll;
  margin-top: -1px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}