.logo
{
  transform: scale(0.5);
  margin-top: -5em;
  position : absolute;
  top : 55px;
  left : 8vw;
}

.tagName
{
  color : #DF0000;
  letter-spacing: 0.07em;
  font-weight: 400;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin-left: 6vw;
  margin-top:-3px;
}

.streakOne{
  width: 110vw;
  height: 110vh;
  top:50px;
  left:-5vh;
  z-index: 0;
}

.streakTwo{
  width: 110vw;
  height: 110vh;
  left : 95vw;
  top:-5vh;
  z-index: 0;
}

.streakThree{
  width: 110vw;
  height: 110vh;
  left : 5vw;
  top:-5vh;
  z-index: 0;
}

.navBarHome{
  position: absolute;
  display: flex;
  flex-flow: column;
  top:62%;
  left:14em;
  justify-content: center;
  z-index: 10;
  transform: scale(6) rotate(-0.65deg);
  align-content: center;
  align-items: center;
  horiz-align: center;
  text-align: center;
}

.a{
  height: 15px;
}

.greenTree{
  position: absolute;
  transition : all 10s;
  bottom:3vh;
  left : 60vw;
  transform: scale(1.08);
  z-index: 3;
  transition-delay: 0ms;
}
.redTree{
  position: absolute;
  transition : all 10s;
  bottom:2vh;
  left : 43vw;
  transform: scale(1.08);
  transition-delay: 100ms;
  z-index: 4;
}.pinkTree{
  position: absolute;
  bottom:4vh;
  transition: all 10s;
  left : 80vw;
  transform: scale(1.08);
  transition-delay: 100ms;
  z-index: 4;
}.pinkLeaf{
  position: absolute;
  transition : all 10s;
  bottom:9vh;
  left : 63vw;
  transform: scale(0.9);
  transition-delay: 50ms;
  z-index: 2;
}

